.main-gallery-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
  padding: 200px 0px;
  align-items: center;
}

.main-gallery {
  background-color: #2C2F34;
  border-radius: 5px;
  display: flex;
  width: 100%;
  padding: 21px 21px;
  justify-content: space-between;
  box-shadow: 0 0 11px 1px #111;
  flex-wrap: wrap;
}

.main-gallery-item {
  background-color: #50545c;
  border: 2px solid #444442;
  display: inline-flex;
  width: 180px;
  height: 180px;
  outline: #121211 solid 1px;
  outline-offset: -3px;
  margin-bottom: 10px;
  animation:  animation 1.5s linear infinite;
}

.a { animation-delay: 0s; }
.b { animation-delay: 0.3s; }
.c { animation-delay: 0.6s; }
.d { animation-delay: 0.9; }
.e { animation-delay: 1.2s; }
.f { animation-delay: 1.5s; }
.g { animation-delay: 1.8s; }


@keyframes animation {
    0% { transform: scale(1, 1); }
    50% { transform: scale(1.05, 1.05); }
    100% { transform: scale(1, 1); }
}

.main-gallery-item:hover {
  border: 2px solid  #50545c;
}

.tag-name {
  padding-bottom: 10px;
  font-size: 32px;
}

.highlight {
  color: #1bb76e;
}
