.gallery-list-item {

}

.horizontal-li {
  li {
    display: inline;
  }
}

.gallery-show-title {
  display: flex;
  justify-content: space-between;
  width: 688px;
  background-color: #2c2f34;
  color: #f2f2f2;
  border-bottom: 1px solid black;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
  border-radius: 3px 3px 0 0;
}

.gallery-select-button {
  background-color: #5c69ff;
  padding: 5px 10px;
  font-size: 20px;
}

.left-button {
  border-radius: 5px 0px 0px 5px;
}

.right-button {
  border-radius: 0px 5px 5px 0px;
}

.gallery-select-button:hover {
  background-color: #727dff;
}

.gallery-show-description {
  width: 688px;
  background-color: #2c2f34;
  padding: 20px;
  min-height: 59px;
}

.gallery-show-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.gallery-tag {
  background-color: #50545c;
  padding: 2px 12px 2px 12px;
  border-radius: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.gallery-vote {
  margin-right: 10px;
}

.cursor {
  cursor: pointer;
}

.count {
  color: #1bb76e;
}

.gallery-list-container {
  background-color: #26292d;
  width: 728px;
}

.gallery-show-main-gallery {
  width: 300px;
  height: 400px;
  overflow: auto;
}

.gallery-form-container {
  width: 1000px;
  margin: auto;
  padding-top: 100px;
}
