.user-bio-container {
  background: #2c2f34;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 11px 1px #111;
}

.user-bio {
  background-color: #141518;
  color: white;
  height: 100px;
  width: 300px;
  margin-bottom: 10px;
}
